<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>회원가입</h1>
    <hr>

    <form action="/signUp" method="POST">
        <table>
            <tr>
                <td><input type="text" name="id" placeholder="ID"></td>
            </tr>
            <tr>
                <td><input type="text" name="passwd" placeholder="Passwd"></td>
            </tr>
        </table>
        <input type="submit" value="회원가입">
    </form>
</body>
</html>